
@font-face {
    font-family: 'DARK';
    src: url('Fonts/DARK.otf');
}
@font-face {
  font-family: 'Tasees';
  src: url('Fonts/Tasees-Bold.ttf');
}

@font-face {
  font-family: 'AA-GALAXY';
  src: url('Fonts/AA-GALAXY.otf');
}

.backGround {
    background-color: #FCEBB6;
    background-image: url("Images/backGround.jpg");
    background-size: auto;
    background-attachment: scroll;
    background-position: center;
    background-repeat: repeat;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.nav {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}
.nav a {
  float: right;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.container {
  position: relative;
  display: block;
  width: 60%;
  margin: 0 auto;
}

.containerBase {
    width: 60%;
    margin: 0 auto;
    box-sizing: content-box;
    position: relative;
    display: grid;
    background-image: url(Images/sejada1.png),
                      url(Images/sejadabg2.jpg);
    background-size: 100% auto, cover;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: center;
    box-shadow: inset 0px 100px 200px rgba(176, 114, 0, 0.75);
}

.img {
  width: 100%;
  height: auto;
  display: block;
  box-shadow: inset 0px 100px 300px #b07200;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.buttonHomePage {
    display: inline-block;
    padding: 13px 10px 27px 10px;
    font-size: 4vw;
    background-color: #016514;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Dark', sans-serif;
    transition: background-color 0.3s ease;
    position: relative;
    margin: 20px;
    text-align: center;
}

.buttonHomePage:hover {
    background-color: rgb(5, 162, 34);
}

.buttonChoices {
    display: inline-block;
    padding: 3rem 3rem;
    font-size: 2.5rem;
    background-color: #016514;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'AA-GALAXY', sans-serif;
    transition: background-color 0.3s ease;
    position: relative;
    padding-bottom: 6rem;
    margin: 0;
    text-align: center;
    text-wrap: pretty;
    left: 20%;
    bottom: -20%;
    width: 30%;
    height: 20%;
}

.buttonChoices:hover {
    background-color: rgb(5, 162, 34);
}

.fontHeader {
    font-family: 'DARK', sans-serif;
    color: white;
    text-align: center;
    text-shadow: 7px 10px 12px #000000 ;
    font-size: clamp(25px, 5.5vw, 150px);
    margin-bottom: 10px;
}

.fontBody1 {
    font-family: 'Tasees', sans-serif;
    color: white;
    font-size: clamp(10px, 3.5vw, 75px);
    text-align: center;
    text-shadow: 7px 5px 15px #000000;
    text-overflow: balance;
   padding-top: 5%;
}

.fontBody2 {
    font-family: 'AA-GALAXY', sans-serif;
    color: white;
    font-size: 100px;
    text-align: right;
    -webkit-text-stroke: 5px black;
    paint-order: stroke fill;
    padding: 0;
    margin: 0;
}


.rounded-rectangle {
    height: clamp(40rem, 70%, 100rem);
    width: clamp(60rem, 80%, 90rem);
    background-color: rgba(139, 69, 19, 0.9);
    box-shadow: #000000 10px 10px 20px;
    border-radius: 30px;
    text-align: center;
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-block: 0%;
    margin: 5rem auto;
}

.rounded-rectangle .fontBody2 {
  position: relative;
  top: 5rem;
  left: 15rem;
  padding-top: 1rem;
  margin: 0;
  text-align: left;
  text-shadow: #000000 6px 6px 12px;
  color: white;
  -webkit-text-stroke: 3px black;
}

.SaudiCultureImage {
    position: absolute;
    left: 0;
    width: 40%;
    height: 100%;
    object-fit: cover;
    object-position: right center;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.Footer {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width: 100%;
    background-color: #562b00;
    text-align: center;
    margin-top: 0;
    padding-block: 1%;
    transform: none;
}

