
@font-face {
    font-family: 'DARK';
    src: url('Fonts/DARK.otf');
}
@font-face {
  font-family: 'Tasees';
  src: url('Fonts/Tasees-Bold.ttf');
}

@font-face {
  font-family: 'AA-GALAXY';
  src: url('Fonts/AA-GALAXY.otf');
}

.SliderbackGround {
    margin: 100px auto;
    width: 90%;
    border: #000000 5px solid;
    display: flex;
    overflow-x: auto;
}

.SliderbackGround::-webkit-scrollbar{
    display: none;
}

.carousel {
  position: relative;   /* makes .groupBGpic stay behind this section only */
  overflow: hidden;     /* hides anything that moves outside */
  width: 100%;
  height: 100vh;        /* height of the top section */
}


/* Moving background behind the main image */
.groupBGpic {
  background-color: rgb(0, 0, 0);
  position: absolute;         /* place it behind the main image */
  top: 0;
  left: 0;
  width: max-content;
  height: 100%;
  display: flex;
  gap: 3em;
  animation: spin 30s linear infinite;
  overflow: hidden;
  z-index: -1;                 /* send it behind */
}

.BGpic {
  flex: 0 0 auto;
  width: 30vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.BGpic img {
  width: 75%;
  height: 75%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  padding-bottom: 35%;
}



.nav {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;    
}
.nav a {
  float: right;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
 
}

.container {
  position: relative;
  display: block;
  width: 60%;
  margin: 0 auto;
}

.containerBase {
    width: 100%;
    margin: 0 auto;
    box-sizing: content-box;
    position: relative;
    display: inline-block;
    background-image: url(Images/sejadabg2.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: center;
    box-shadow: inset 0px 600px 200px rgba(0, 0, 0, 0.75);
}

.img {
  width: 100%;
  height: auto;
  display: block;
  box-shadow: inset 0px 100px 300px #b07200;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.buttonHomePage {
    display: inline-block;
    padding: 13px 10px 27px 10px;
    font-size: 4vw;
    background-color: #016514;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Dark', sans-serif;
    transition: background-color 0.3s ease;
    position: relative;
    margin: 20px;
    text-align: center;
}

.buttonHomePage:hover {
    background-color: rgb(5, 162, 34);
}

.buttonChoices {
    display: block;
    padding: 3rem 3rem;
    font-size: 5rem;
    background-color: #016514;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'AA-GALAXY', sans-serif;
    transition: background-color 0.3s ease;
    position: relative;
    margin: 0;
    text-align: justify;
    
}

.buttonChoices:hover {
    background-color: rgb(5, 162, 34);
}

.fontHeader {
    font-family: 'DARK', sans-serif;
    color: white;
    text-align: center;
    text-shadow: 7px 10px 12px #000000 ;
    font-size: 9rem;
}

.fontBody1 {
    font-family: 'Tasees', sans-serif;
    color: white;
    font-size: 6rem;
    text-align: center;
    text-shadow: 7px 5px 15px #000000;
    text-overflow: balance;
}

.fontBody2 {
    font-family: 'AA-GALAXY', sans-serif;
    color: white;
    font-size: 100px;
    text-align: right;
    -webkit-text-stroke: 5px black;
    paint-order: stroke fill;
    padding: 0;
    margin: 0;
}


.rounded-rectangle {
    width: 80%;
    height: 30rem;
    background-color: rgba(139, 69, 19, 0.9);
    box-shadow: #000000 10px 10px 20px;
    border-radius: 30px;
    text-align: center;
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-block: 0%;
    margin: 5rem auto;
}

.rounded-rectangle .fontBody2 {
  font-size: 5rem;
  position: relative;
  top: 5rem;
  left: 15rem;
  padding-top: 1rem;
  margin-left: 20rem;
  text-shadow: #000000 6px 6px 12px;
  color: white;
  -webkit-text-stroke: 3px black;
  border: #000000 2px solid;
}

.SaudiCultureImage {
    position: absolute;
    left: 0;
    width: 40%;
    height: 100%;
    object-fit: cover;
    object-position: right center;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.Footer {
    height: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: white;
    width: 100%;
    
    background-color: #562b00;
    text-align: center;
    transform: none;
    margin-top: -1%;
}

.Footer p {
    transform: translate(0%, 150%);
}

@keyframes spin {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
