
.PrHomePage { 
 /* this code for background image and thir properties */
 background-image: url("hawk.png"), url("font.png"), url("WhiteHorse.png") , url("Ribbon.png") , url("Ribbon.png"), url("BgHomePage.jpg");
 background-size: 300px, 1000px, 635px, 230px, 230px , cover, cover;
 background-repeat: no-repeat, no-repeat , no-repeat, no-repeat, no-repeat , no-repeat;
 background-position: 9% 110% , 0% 105% , 0% 93%, -1% 90%  ,100% 90% ,center center;
 background-attachment: fixed;
}



.warpper{
 position: relative;
 top: 350px;
 left:1000px;
 background-color: transparent;
 background: 2px solid raga(255, 255 ,255, 0.5);
 backdrop-filter: blur(20px);
 box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
 border-radius: 20px;
 width: 600px;
 height: 600px;
 display: flex;
 justify-content: center;
 align-items: center;
 transition: height .2s ease;
 overflow: hidden;
}

.warpper.active{
    height: 520px;
}

.warpper .Register-Box{
  position: absolute;
  transition: none;
  transform: translateX(570px);
}

.warpper.active .Register-Box{
 transition: transform .18s ease;
 transform: translateX(0);
}

.warpper .Login-Box{
 transition: transform .18s ease;
 transform: translateX(0);
 width: 100%;
 padding: 40px;
}

.warpper.active .Login-Box{
 transition: none;
 transform:translateX(-570px);
}

.warpper .icon-close{
 position: absolute;
 top:0;
 right: 0;
 width: 45px;
 height: 45px;
 background: #424242;
 font-size: 2.6em;
 color: #ffffff;
 justify-content: center;
 align-items: center;
 border-bottom-left-radius: 20px;
 cursor: pointer;
 z-index: 1;
}

.Login-Box h2{
 font-size: 3em;
 color: rgb(59, 59, 59);
 margin-bottom: 50px;
 text-align: center;
 font-family:"Rakkas", serif; 
 border-radius: 20px;
 background-color: rgba(165, 165, 165, 0.644); 
}

.Register-Box h2{
  font-size: 3em;
 color: rgb(59, 59, 59);
 margin-bottom: 50px;
 text-align: center;
 font-family:"Rakkas", serif; 
 border-radius: 20px;
 background-color: rgba(165, 165, 165, 0.644);    
}

.Input-box{
 position: relative;
 width: 100%;
 height: 50px;
 border-bottom: 2px solid #4e4e4e;
 margin: 30px 0 ;
}

.Input-box label{
 position: relative;
 bottom: 100%;
 left: 5px;
 font-size: 1.7em;
 transform: translateY(-50%);
 color: #424242;
 font-family: "Rakkas", serif;
 font-weight: 500;
 pointer-events: none;
 transition: .5s;
}

.Input-box input:focus~label,
.Input-box input:valid~label{
  bottom: 80px;
}

.Input-box input{
 width: 100%;
 height: 100%;
 background: transparent;
 border: none;
 outline: none;
 font-size: 1.5em;
 font-weight: 500;
 color: #424242;
 font-family: "Rakkas", serif;
 padding: 0 35px 0 5px;
}

.Input-box .icon{
  position:absolute;
  right: 8px;
  font-size: 2.2em;
  color: #424242;
  line-height: 57px;
}

.remember-forgot{
 font-size: 1.5em;
 color: #424242;
 font-weight: 500;
 margin: -15px 0 15px;
 font-family: "Rakkas", serif;
 display: flex;
 justify-content: space-between;
}

.remember-forgot label input{
 accent-color: #424242;
 margin-right: 3px;
}

.remember-forgot a {
 color: #424242;
 text-decoration: none;

}

.remember-forgot a:hover{
    text-decoration: underline;
}

.btn{
 width: 100%;
 height: 45px;
 background: #424242;
 border: none;
 outline: none;
 border-radius: 20px;
 font-size: 2em;
 color: #ffffff;
 font-weight: 500;
 font-family: "Rakkas", serif;
}

.Login-register{
 font-size: 1.8em;
 color: #424242;
 text-align: center;
 font-weight: 500;
 margin: 25px 0 10px;
 font-family: "Rakkas", serif;
}

.Login-register p a{
 color: #424242;
 text-decoration: none;
 font-weight: 500;
}

.Login-register p a:hover{
 text-decoration: underline;
}

header{
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 padding: 20px;
 background-color: transparent;
 background: 2px solid raga(255, 255 ,255, 0.5);
 backdrop-filter: blur(10px);
 display: flex;
 justify-content:space-around;
 align-items: center;
 z-index: 100px;
}

.Nav a{
 position: relative;
 font-size: 2em;
 color: rgb(59, 59, 59);
 text-decoration: none;
 font-weight: 500;
 margin-left: 300px;
 border-radius: 10px;
 font-family:"Rakkas", serif; 
}

.Nav a::after{
 content: '';
 position: absolute;
 left:0;
 bottom: -6px;
 width: 100%;
 height: 3px;
 background: rgb(59, 59, 59);
 border-radius: 5px;
 transform: scaleX(0);
 transition: transform .5s;
}

.Nav a:hover::after{
 transform: scaleX(1);
}

.Log-In-Page{
background-image:url("PlamTree2.png") , url("PlamTree1.png") , url("Decor1.png"), url("Decor2.png") , url("Ribbon.png"), url("Ribbon.png"),url(BgHomePage.jpg);
background-size: 500px,500px,750px,750px ,230px, 230px, cover;
background-repeat: no-repeat,no-repeat , no-repeat,  no-repeat,no-repeat, no-repeat,no-repeat;
background-position:95% 125%,105% 105%, 105% -18%,-5% 125%,-1% 90%  ,100% 90%, center center;
background-attachment: fixed;



}

.log-in:hover{
 text-decoration: none;
 color: rgb(1, 83, 15);
}

.Merged-box{
 background-color:transparent;
 background: 2px solid rgba(255, 255, 255, 0.5);
 backdrop-filter: blur(10px);
 width: 40%;
 padding: 130px;
 border-radius: 20px;
 margin: 300px 50px 0 auto;
 text-align: right;
 direction: ltr;
 color: rgb(223, 223, 223);
 box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.box-h1{
 margin-top: 0;
 margin-bottom: 20px;
 font-size: 60px;
 font-family: "Rakkas", serif;
 padding-bottom: 10px;
}

.box-text{
 margin: 0;
 font-size: 38px;
 font-family: "Rakkas", serif; /* this is arabic font  */
 line-height: 1.6;
}

.InfoPage{
 text-decoration: none;
 color: rgb(255, 255, 255);
 font-family: "Rakkas" , serif;  
}

.InfoPage:hover{
text-decoration: none;
color: rgb(1, 83, 15);
}



